# These owners will be the default owners for everything in the repo.
*       @honghoangsts @baonguyenhsts @anhle10051996 @hoangSTS @huydosgtech @loc-nguyenthien @loido @nghoangchung @ThinhKimVo @TranQuangPhi @tuledu @vunguyendhSTS
